li.el-undone {
  font-weight: bold;
}

li.el-done {
  text-decoration: line-through;
}

li.alta {
  color: rgb(225, 0, 255);
}

li.media {
  color: green;
}

li.baja {
  color: blue;
}